body {
  padding-top: 60px;
}

h2#title {}

textarea#editor {
  width: 100%;
}

.td_id {
  width: 200px;
}

.td_update {
  width: 200px;
}

.td_console {
  width: 100px;
}

#editor-sample {
  width: 100%;
  min-height: 520px;
}

#header-menu {
  margin-bottom: 20px;
}
