<div class="row-fluid">
	<div class="span12">
		<p>share link: <a href="/{{id}}">{{origin}}{{id}}</a></p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<textarea id="editor">{{text}}</textarea>
	</div>
	<div class="span6">
		<div id="html-view"></div>
	</div>
</div>
