<div class="row-fluid">
	<div class="span12">
		<h2>過去作成の議事録</h2>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th class="td_id">#</th>
					<th class="td_title">title</th>
					<th class="td_update">Last update</th>
					<th class="td_console">console</th>
				</tr>
			</thead>
			<tbody>
				{{#gijirockns}}
				<tr>
					<td class="td_id"><a href="#" class="openGijirockn" data-hash="{{id}}">{{id}}</a></td>
					<td class="td_title"><a href="#" class="openGijirockn" data-hash="{{id}}">{{title}}</a></td>
					<td class="td_update">{{lastUpdateAt}}</td>
					<td class="td_console"><a href="#" class="remove-btn btn btn-mini btn-danger" data-hash="{{id}}"><i class="icon-trash icon-white"></i> 削除</a></td>
				</tr>
				{{/gijirockns}}
			</tbody>
		</table>
	</div>
</div>