<div class="row-fluid">
	<div class="span12">
		<div id="header-menu">
			<h1>議事録リアルタイム共有サービス Gijirock'n</h1>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<textarea id="editor-sample">= Gijirockn =
Bitbucketでも採用されている[[http://wikicreole.org/|Creole記法]]を使って\\
リアルタイムに議事録を共有する事ができるサービスです。

議事録をプロジェクターに映しながらMTGする事ってあると思うんですが、リモートだとなかなか難しいですよね。

そこでこのGijirock'nを使う事で、リアルタイムに議事録を共有できます。

1文字タイプする度にその議事録を閲覧してる全ーザへ送信され、Creole記法からHTMLにパースして表示されます。

[[http://takyam.com/categories/bitbucket/bitbucket-wiki-cheat-sheet|Creole記法の書き方についてはこちらをご覧ください]]

== 使い方 ==
# ログインする
# 議事録を作る
# 議事録のURLをメンバーにシェアする
# MTGしながら議事録を書く
# 議事録をBitbucketのwikiにコピペする

== 動作ブラウザ ==
* Chrome(PC)
* Firefox(PC/Android)
* Android標準ブラウザ

== 免責事項 ==
* このサービスの利用等によってどんな事があっても、私は責任取れませんので重要な情報は議事録上に記載しないでください
* 例えば外部からの不正アクセスによって、議事録やその他の情報が流出した場合でもなんの責任も取れませんのでご理解のうえご利用ください
</textarea>
	</div>
	<div class="span6">
		<div id="html-view-sample">
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<p>
			<a href="/auth/facebook" id="btnLogin" class="btn btn-primary btn-large"><i class="icon-user icon-white"></i> Facebookアカウントでログインして議事録を作成する</a>
		</p>
	</div>
</div>